/**
 * For app settings dialog
 * author: handy.wang 2010-07-07
 */
.ui-selected { background: #F39814; color: white; }

#controllerURLList { font-size: 12px; list-style-type: none; margin: 0; padding: 4px; background-color:white; border: 2px solid #BBBBBB; height:60%; overflow:auto}
#controllerURLList .ui-selecting { background: #FECA40; }
#controllerURLList .ui-selected { background: #F39814; color: white; }
#controllerURLList span[name|="controllerServer"] { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
.appSettingsInput {width:100%; height:28px; border: 1px solid #CCCCCC; font-size: 100%;}
#controllerPanelSelect {width:40%; height:28px; border: 1px solid #CCCCCC; font-size: 100%;}

.segmentTitle {margin-top:5px; font-size:100%; color:#666666;text-shadow: 0px -1px #bbb,0 2px #fff;}
.segmentSubTitle {margin-top:5px; font-size:70%; color:#666666;text-shadow: 0px -1px #bbb,0 2px #fff;}
.segment {border:solid 2px #BBBBBB; padding:4px; background-color:white;}