<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">

    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethods"
                      expression="execution(* org.openremote.beehive.serviceHibernateImpl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="del*" propagation="REQUIRED"/>
            <tx:method name="edit*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="export*" propagation="REQUIRED"/>
            <tx:method name="load*" propagation="REQUIRED"/>
            <tx:method name="find*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="nestedTransactionAllowed" value="true"/>

    </bean>

    <bean id="abstractService" abstract="true"
	class="org.openremote.beehive.serviceHibernateImpl.BaseAbstractService" />
	<bean id="modelService"
		class="org.openremote.beehive.serviceHibernateImpl.ModelServiceImpl"
		parent="abstractService" />
	<bean id="vendorService"
		class="org.openremote.beehive.serviceHibernateImpl.VendorServiceImpl"
		parent="abstractService" />
	<bean id="remoteSectionService"
		class="org.openremote.beehive.serviceHibernateImpl.RemoteSectionServiceImpl"
		parent="abstractService" />
	<bean id="remoteOptionService"
		class="org.openremote.beehive.serviceHibernateImpl.RemoteOptionServiceImpl"
		parent="abstractService" />
	<bean id="codeService"
		class="org.openremote.beehive.serviceHibernateImpl.CodeServiceImpl"
		parent="abstractService" />
	<bean id="scraperService"
		class="org.openremote.beehive.serviceHibernateImpl.WebscraperServiceImpl"
		parent="abstractService" >
	</bean>
	<bean id="svnDelegateService"
		class="org.openremote.beehive.serviceHibernateImpl.SVNDelegateServiceImpl"
		parent="abstractService" >
	</bean>
</beans>
