<label for="inspect_http_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_http_label">
<label for="inspect_http_url">URL</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=url %>" id="inspect_http_url">
<%InspectView.getModel= function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var label = $.trim($("#inspect_http_label").val()); %>
<% var url = $.trim($("#inspect_http_url").val()); %>
<% model.label = label;%>
<% model.url = url;%>
<% return model;%>
<% }; %>