<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openremote.android.console"
      android:versionCode="2000002"
      android:versionName="2.0.0 Beta2">


    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.nfc" />

    <application android:icon="@drawable/orlogo" android:label="@string/app_name" android:theme="@style/BlackBackgroundTheme"
    android:debuggable="false">
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:screenOrientation="sensor"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddServerActivity"
        	     android:label="@string/app_name"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".AppSettingsActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="portrait"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".GroupActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="sensor"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".LoginViewActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="sensor"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
         <activity android:name=".AffichagePanelActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="sensor">
        	     
        </activity>
          <activity android:name=".NfcActivity">
               <intent-filter>
  <action android:name="android.nfc.action.NDEF_DISCOVERED" /> 
  <category android:name="android.intent.category.DEFAULT" /> 
  </intent-filter>
   <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
        </activity>
    <activity android:name=".ReadingNFC_Activity" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:noHistory="true" android:launchMode="singleTop">

 <intent-filter>
  <action android:name="android.nfc.action.NDEF_DISCOVERED" /> 
  <category android:name="android.intent.category.DEFAULT" /> 
  </intent-filter>
   <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

  </activity>
        
     
    
    </application>
    <uses-sdk android:minSdkVersion="3"/>
    
</manifest>
