/*
Code adapted from:
http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit
*/

#loadingMsgPanel {
	
}

#loadingMsgSpinner {
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
}

#loadingMsgText {
  	text-shadow:
   		-1px -1px 0 #4FA800,
    	1px -1px 0 #4FA800,
    	-1px 1px 0 #4FA800,
     	1px 1px 0 #4FA800;
	font-weight: bold;
	font-size: 25px;
}

.msgText {
	color: #245E36;
	font-family: verdana, arial, sans-serif;
}	