#noScriptError {
	width: 22em;
	position: absolute;
	left: 50%;
	margin-left: -11em;
	color: red;
	background-color: white;
	border: 1px solid red;
	padding: 4px;	
}

body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
	tap-highlight-color: rgba(0,0,0,0);
	user-select: none;
	width: 3000px;
	height: 3000px;
}

#consoleUnit {
	display:-moz-inline-stack;
	display:inline-block;
	*display:inline;
	zoom:1;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
}

.portraitConsole {

}

.landscapeConsole {
     -moz-transform: rotate(-90deg);  
       -o-transform: rotate(-90deg);  
  -webkit-transform: rotate(-90deg);  
      -ms-transform: rotate(-90deg);  
          transform: rotate(-90deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix( 
                     M11=0, M12=1, M21=-1, M22=0, sizingMethod='auto expand');
               zoom: 1;
}

#consoleUnit table {
	margin: 0 auto;	
}

.consoleFrame {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(0.5, rgb(56,56,56))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,0,0) 0%,
	    rgb(56,56,56) 50%
	);
	-moz-border-radius: 15px;
	border-radius: 15px;		
}

#consoleFrameLogoLeft {
	color: #245E36;
}

#consoleFrameLogoRight {
	color: #4FA800;
}

.consoleFrameLogo div {
	/*
  	text-shadow:
   		-1px -1px 0 #FFF,
    	1px -1px 0 #FFF,
    	-1px 1px 0 #FFF,
     	1px 1px 0 #FFF;
    */
	font-weight: bold;
	font-size: 25px;
	border: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#consoleDisplay {
	background-color: black;
	overflow: hidden;
	cursor: pointer;
}

.consoleDisplay .portraitDisplay {

}

.consoleDisplay .landscapeDisplay {
     -moz-transform: rotate(90deg);  /* FF3.5+ */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(90deg);  /* IE9 */
          transform: rotate(90deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */ 
                     M11=0, M12=-1, M21=1, M22=0, sizingMethod='auto expand');
               zoom: 1;
}

.consoleDisplayBoss {
	border: solid 2px #333333; 
}


/*
SCREEN WIDGET CSS BELOW 
*/

.sliderComponentBar {
	background-color: buttonFace;
}

.sliderComponentBarTrack {
	background-color: #4FA800;
}
  
.sliderComponentHandle {
   background-color: buttonFace;
   -webkit-border-radius: 12px;
}

/*
GENERIC SPINNER CSS BELOW HERE
Code adapted from:
http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit
*/

.spinner {
	
}
	
.spinner div {
	width: 12%;
	height: 26%;
	background: #245E36;
	position: absolute;
	left: 44.5%;
	top: 37%;
	-webkit-animation: fade 1s linear infinite;
	-moz-animation: fade 1s linear infinite;
	animation: fade 1s linear infinite;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s; -moz-transform:rotate(0deg) translate(0, -142%); -moz-animation-delay: 0s;}    
.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s; -moz-transform:rotate(30deg) translate(0, -142%); -moz-animation-delay: -0.9167s;}
.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s; -moz-transform:rotate(60deg) translate(0, -142%); -moz-animation-delay: -0.833s;}
.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s; -moz-transform:rotate(90deg) translate(0, -142%); -moz-animation-delay: -0.75s;}
.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s; -moz-transform:rotate(120deg) translate(0, -142%); -moz-animation-delay: -0.667s;}
.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s; -moz-transform:rotate(150deg) translate(0, -142%); -moz-animation-delay: -0.5833s;}
.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s; -moz-transform:rotate(180deg) translate(0, -142%); -moz-animation-delay: -0.5s;}
.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s; -moz-transform:rotate(210deg) translate(0, -142%); -moz-animation-delay: -0.41667s;} 
.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s; -moz-transform:rotate(240deg) translate(0, -142%); -moz-animation-delay: -0.333s;}
.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s; -moz-transform:rotate(270deg) translate(0, -142%); -moz-animation-delay: -0.25s;}
.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s; -moz-transform:rotate(300deg) translate(0, -142%); -moz-animation-delay: -0.1667s;}
.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s; -moz-transform:rotate(330deg) translate(0, -142%); -moz-animation-delay: -0.0833s;}
 
@-webkit-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}

@-moz-keyframes fade {
	from {opacity: 1;}
	to {opacity: 0.25;}
}

.tabBarComponent {
	background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(90,90,90) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(90,90,90) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(90,90,90) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(90,90,90) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(90,90,90) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0,0,0)),
		color-stop(1, rgb(90,90,90))
	);
}

.tabBarItem.selected {
	background-image: linear-gradient(bottom, rgb(20,20,20) 0%, rgb(110,110,110) 100%);
	background-image: -o-linear-gradient(bottom, rgb(20,20,20) 0%, rgb(110,110,110) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(20,20,20) 0%, rgb(110,110,110) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(20,20,20) 0%, rgb(110,110,110) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(20,20,20) 0%, rgb(110,110,110) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(20,20,20)),
		color-stop(1, rgb(110,110,110))
	);
}

.tabBarItemText {
	color: #CCC;
}

.tabBarItem.selected .tabBarItemText {
	font-weight: bold;
	color: #FFF;
}

.tabBarItemImage {
	
}

.buttonComponent, .switchComponent {
	background: #5A697E;
    border: none;
    color: #FFF;
    font-weight: bold;
    font-family: arial;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
}

.buttonComponent.pressed, .switchComponent.pressed {
	background: #3A495E;
	color: #DDD;
}

.formPanelComponent {
	background: #7A899E;
	border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #333;
}

.formFieldComponent {
	
}

.formFieldLabelComponent {
	color: #333;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

.formFieldLabelComponent.invalid {
	color: #FF0000;
}

.formFieldInputComponent {
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formButtonComponent {
	background: #5A697E;
    border: 1px solid black;
    color: #FFF;
    font-weight: bold;
    font-family: arial;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    margin-left: 10px;
    margin-right: 10px;
}