body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	text-align: center;
}

.consoleUnitContainer {
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;	
}

#consoleUnit {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	margin: 0 auto;
}

.consoleFrame {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(0,0,0)),
	    color-stop(0.5, rgb(56,56,56))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,0,0) 0%,
	    rgb(56,56,56) 50%
	);
	-moz-border-radius: 15px;
	border-radius: 15px;		
}

#consoleFrameLogoLeft {
	color: #245E36;
}

#consoleFrameLogoRight {
	color: #4FA800;
}

.consoleFrameLogo div {
	/*
  	text-shadow:
   		-1px -1px 0 #FFF,
    	1px -1px 0 #FFF,
    	-1px 1px 0 #FFF,
     	1px 1px 0 #FFF;
    */
	font-weight: bold;
	font-size: 25px;
	font-family: verdana, arial, sans-serif;
	border: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.consoleDisplay {
	background-color: black;
	overflow: hidden;
}

.consoleDisplayBoss {
	border: solid 2px #333333; 
}

#noScriptError {
	width: 22em;
	position: absolute;
	left: 50%;
	margin-left: -11em;
	color: red;
	background-color: white;
	border: 1px solid red;
	padding: 4px;
	font-family: sans-serif;	
}

.portrait {
	
}

.landscape {
     -moz-transform: rotate(-90deg);  
       -o-transform: rotate(-90deg);  
  -webkit-transform: rotate(-90deg);  
      -ms-transform: rotate(-90deg);  
          transform: rotate(-90deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix( 
                     M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, sizingMethod='auto expand');
               zoom: 1;		
}