<table id="dropable_table" border="0" cellspacing="0" cellpadding="0">
<% for (var row = 0; row < screen.row; row ++) { %>
	<tr>
		<% for (var col = 0; col < screen.col; col++) { %>
		<td style="height:<%=ScreenView.cellHeight %>px;width:<%=ScreenView.cellWidth %>px;" x="<%=col %>" y="<%=row %>"></td>
		<% } %>
	</tr>
<% } %>
</table>