<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
       default-autowire="byName">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:config.properties</value>
        </property>
    </bean>
    
    <bean id="buttonCommandService" class="org.openremote.controller.service.impl.ButtonCommandServiceImpl">
        <property name="macroCmdExecutionDelay" value="${Macro.Execution.Delay}" />
    </bean>
    
    <bean id="remoteActionXMLParser" class="org.openremote.controller.utils.RemoteActionXMLParser">
    </bean>
    
	<bean id="eventFactory" class="org.openremote.controller.event.EventFactory">
		<property name="eventBuilders">
		    <props>
		        <prop key="irEvent">irEventBuilder</prop>
		        <prop key="knxEvent">knxEventBuilder</prop>
		        <prop key="x10Event">x10EventBuilder</prop>
		    </props>
		</property>
	</bean>
    
    <bean id="irEventBuilder" class="org.openremote.controller.protocol.infrared.IREventBuilder" scope="prototype" ></bean>
    <bean id="knxEventBuilder" class="org.openremote.controller.protocol.knx.KNXEventBuilder" scope="prototype" ></bean>
    <bean id="x10EventBuilder" class="org.openremote.controller.protocol.x10.X10EventBuilder" scope="prototype" ></bean>
    
    
</beans>
