<div>
  <div style="margin-top:5px;">URL, <span style="font-size:80%;">eg: http://10.10.10.100:8080/controller</span></div>
  <label><input name="protocol" type="radio" style="font-size:100%;" value="http://" >HTTP</input></label><br />
  <label><input name="protocol" type="radio" style="font-size:100%;" value="https://" >HTTPS</input></label>
  <div><input id="controllerURLInput" type="text" /></div>
  <div><button id="addControllerURLBtn">Add</button><span id="appSettingsTips" /></div>
</div>
<hr />
Select a controller url:
<div id="controllerURLList" />
<hr />
<div id="controllerPanelSelectContainer">
  <div>Select a panel identity: </div>
  <div>
  <select id="controllerPanelSelect">
    <option>none</option>
  </select>
  </div>
</div>
