<div>
  <div class="segmentTitle">Add a controller url:</div>
  <div class="segment"> 
    <div>
      <input style="width:70%;" id="controllerURLInput" type="text" />
      <button id="addControllerURLBtn" style="width:25%;">Add</button><span id="appSettingsTips" />
    </div>
    <div class="segmentSubTitle">
      Sample:10.10.10.102:8080/controller
    </div>
  </div>
</div>

<br />
<span class="segmentTitle">
  Select a controller url:
</span>

<div id="controllerURLList" />
<br />
<div id="controllerPanelSelectContainer">
  <div class="segmentTitle">Select a panel identity: </div>
  <div>
    <select id="controllerPanelSelect" style="width:100%;">
      <option>none</option>
    </select>
  </div>
</div>
