<div>
  <div style="margin-top:5px;font-size:80%;">URL eg: http://10.10.10.100:8080/controller</div>
  <span style="margin-top:5px;font-size:80%;">URL protocol:</span>
  <label><input name="protocol" type="radio" style="font-size:100%;" value="http://" >HTTP</input></label>
  <label><input name="protocol" type="radio" style="font-size:100%;" value="https://" >HTTPS</input></label>
  <div><input id="controllerURLInput" type="text" /></div>
  <div><button id="addControllerURLBtn">Add</button><span id="appSettingsTips" /></div>
</div>
<hr />
<span style="margin-top:5px;font-size:80%;">Select a controller url:</span>
<div id="controllerURLList" />
<hr />
<div id="controllerPanelSelectContainer">
  <div>Select a panel identity: </div>
  <div>
  <select id="controllerPanelSelect" style="width:100%;">
    <option>none</option>
  </select>
  </div>
</div>
