<div class="segmentTitle">Add a controller url:</div>
<div class="segment"> 
  <div>
    <input style="width:70%;" class="appSettingsInput" id="controllerURLInput" type="text" />
    <button id="addControllerURLBtn" style="width:25%;">Add</button><span id="appSettingsTips" />
  </div>
  <div class="segmentSubTitle">
    Sample:10.10.10.102:8080/controller
  </div>
</div>

<br />
<span class="segmentTitle">
  Select a controller url:
</span>
<div id="controllerURLList" />

<br />
<div id="controllerPanelSelectContainer">
  <div class="segmentTitle">Select a panel identity: </div>
  <div>
    <select id="controllerPanelSelect" style="width:100%;">
      <option>none</option>
    </select>
  </div>
</div>

<div class="segmentTitle">Security</div>
<div class="segment">
  <div class="segmentSubTitle">
    SSL:
    <input type="radio" name="ssl" value="ON">ON</input>
    <input type="radio" name="ssl" value="OFF" checked >OFF</input>
  </div>
  <div class="segmentSubTitle">
    Port:
    <input class="appSettingsInput" style="width:20%;" type="text" name="port" value="8443" />
  </div>
</div>
