label, input {
display: block;
}
input.text {
margin: 12px 0;
width: 95%;
padding: .4em;
}
fieldset {
padding: 0;
border: 0;
margin-top: 25px;
}
#top {
text-align: center;
height: 80px;
}
#command_navigition {
margin: 0 auto;
}
#command_navigition  .select_container {
float: left;
width: 250px;
}

.select_container select {
width: 200px;
}


#result div{
display: none;
}
#result pre {
background: lightgray;
width: 700px;
margin: 1em;
border: 1px solid gray;
}
#result h3 {
margin: 1em;
}

#iphone_backgroud {
background: #fff url("../image/iphone_background.jpg") no-repeat top left;
width: 269px;
height: 500px;
margin: 0 10px;
}


#dropable_table td {
border: 1px dashed yellow;
height: 49px;
width: 49px;
}

#dropable_table {
margin-top: 105px;
margin-left: 32px;
border-collapse: collapse;
}

#dropable_table td.hiLight {
background-color: yellow;
}

.item_container {
overflow: visible;
}

#tabs .item_container {
height: 370px;
}

#tabs ul li.ui-tabs-selected .has_icon {
padding-right: 30px;
}
#tabs ul li .ui-icon {
display: none;
}

#tabs ul li.ui-tabs-selected .has_icon {
padding-right: 30px;
}
#tabs ul li.ui-tabs-selected .ui-icon {
margin-top: -9px;
position: absolute;
right: 5px;
top: 50%;
display: inline;
cursor: pointer;
}

#macro {
background-color: #fff;
}
#macro #create_macro_btn {
position: absolute;
right: 10px;
top: 5px;
}


#macro  .item_title {
cursor: move;
position: relative;
}
#macro  .item_title b {
line-height: 30px;
padding: 4px;
}
#macro.macro_btn_defination {
margin-bottom: 1em;
}


ul.macro_detail {
list-style-type: none;
margin: 0;
padding: 0;
min-height: 50px;
height: auto!important;
height: 50px;

}

.macro_btn_defination {
width: 160px;
}


ul.macro_detail li {
font-size: 1.2em;
height: 18px;
padding: 0.1em 0.4em 0.1em 1.5em;
}
ul.macro_detail li span {
margin-left: -1.3em;
position: absolute;
}

#macro ul.ui-state-highlight {
	border:1px solid #AAAAAA;
}


#macro .item_container {
border: 1px solid #AAAAAA;
height: 400px;
_height: 410px;
border-top: none;
padding: 1em 1em 0 1em;
}

li.macro_command {
cursor: move;
}


#create_KNX_dialog {
height: 1%;
}

.blue_btn.command_btn {
float: left;
}
.blue_btn.knx_btn {
float: left;
}
.blue_btn.x10_btn {
float: left;
}
.blue_btn {
background: #fff url("../image/button.jpg") no-repeat top left;
height: 19px;
width: 156px;
margin: 0.1em;
text-align: center;
cursor: move;
font-size: 12px;
font-weight: bold;
}

#command_tab {
padding: 1em;
}
.iphone_btn {
background: #fff url("../image/iphone_btn.jpg") no-repeat top left;
width: 49px;
height: 49px;
font-size: 12px;
color: white;
font-weight: bolder;
text-align: center;
position: relative;
cursor: move;
}


.iphone_btn.selected {
opacity: 0.6;
}

.iphone_btn .delete_icon {
position: absolute;
left: -9px;
top: -9px;
cursor: pointer;
}
.canMove {
cursor: move;
}
