<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openremote.android.console"
      android:versionCode="2000003"
      android:versionName="2.0.0 Beta3">


    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:name="org.openremote.android.console.OpenRemoteApplication"
                 android:icon="@drawable/ic_launcher_openremote" android:label="@string/app_name" android:theme="@style/BlackBackgroundTheme">
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:screenOrientation="sensor"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecuritySettingsActivity"
        	     android:label="@string/app_name"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".AddServerActivity"
        	     android:label="@string/app_name"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".AppSettingsActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="sensor"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".GroupActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="sensor"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name=".LoginViewActivity"
        	     android:label="@string/app_name"
        	     android:screenOrientation="sensor"
        	     android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>
    
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" 
                      android:anyDensity="true" />
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11" />
</manifest>
