<label for="inspect_iphoneBtn_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_iphoneBtn_label">
<label for="inspect_iphoneBtn_icon">Icon</label>
<% var _icon = (icon==""?constant.DEFAULT_IPHONE_BTN_ICON:icon); %>
<a><img id="inspect_iphoneBtn_icon" src="<%=_icon %>" title="Change icon" onclick="javascript:void(0);return false;"></a>
<%InspectView.getModel = function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var _label = $.trim($("#inspect_iphoneBtn_label").val()); %>
<% _icon = $("#inspect_iphoneBtn_icon").attr("src"); %>
<% _icon = (new RegExp(constant.DEFAULT_IPHONE_BTN_ICON).test(_icon)?"":_icon); %>
<% model.label = _label;%>
<% model.icon = _icon;%>
<% return model;%>
<% }; %>