<label for="inspect_x10_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_x10_label">
<label for="inspect_x10_address">Address</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=address %>" id="inspect_x10_address">
<label for="inspect_x10_command">Command</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=command %>" id="inspect_x10_command">
<%InspectView.getModel= function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var label = $.trim($("#inspect_knx_label").val()); %>
<% var groupAddress = $.trim($("#inspect_knx_groupAddress").val()); %>
<% model.label = label;%>
<% model.groupAddress = groupAddress;%>
<% return model;%>
<% }; %>