<label for="inspect_knx_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_knx_label">
<label for="inspect_knx_groupAddress">GroupAddress</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=groupAddress %>" id="inspect_knx_groupAddress">
<label for="inspect_knx_command">Command</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=command %>" id="inspect_knx_command">
<%InspectView.getModel= function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var label = $.trim($("#inspect_knx_label").val()); %>
<% var groupAddress = $.trim($("#inspect_knx_groupAddress").val()); %>
<% var command = $.trim($("#inspect_knx_command").val()); %>
<% model.label = label;%>
<% model.groupAddress = groupAddress;%>
<% model.command = command;%>
<% return model;%>
<% }; %>