<p class="validateTips">
<span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
<span id="appSettingsTips">Please input valid url, like http://10.10.10.101:8080/controller.</span>
</p>
<p>
  <div>
    <div style="float:left; margin-top:5px;">URL: </div>
    <input id="contextURLInput" type="text" />
    <button id="addControllerURLBtn" >Add conroller url</button>
  </div>
</p>
<div id="controllerURLList" />
<div id="controllerPanelSelectContainer" style="padding:0.4em">
  <div style="float:left; margin-top:5px;">Select a panel from selected controller: </div>
  <select id="controllerPanelSelect">
    <option>none</option>
  </select>
</div>
