.screen-background {
   background-image: url(../images/iphone_background.jpg);
   background-repeat: no-repeat;
   position: relative;
   width: 269px;
   height: 500px;
}
.panel-table {
	position: absolute;
	border-collapse: collapse;
	border: 1px dashed yellow;
}
.panel-table td{
	border: 1px dashed yellow;
}

.absolute{
	position: absolute;
}
.background-color {
   background-color: yellow;
}
.label-font {
   color: white;
}
.cursor-move {
   cursor: move;	
}
.button-border {
   border: 1px solid orange;
   opacity:0.9;
}
