.iphone-background {
   background-image: url(../images/iphone_background.jpg);
   background-repeat: no-repeat;
}
.panel-table {
	border-collapse: collapse;
	border: 1px dashed yellow;
}
.panel-table td{
	border: 1px dashed yellow;
}

.absolute{
	position: absolute;
}
.backgroud-yellow {
   background-color: yellow;
}
.font-white {
   color: white;
}
.cursor-move {
   cursor: move;	
}
.border-orange {
   border: 1px solid orange;
   opacity:0.9;
}
