.image-slider {
    zoom:1;
}
.image-slider-inner {
    position:relative;
    left:0;
    top:0;
    overflow:visible;
    zoom:1;
}
.image-slider-focus {
	position:absolute;
	left:0;
	top:0;
	width:1px;
	height:1px;
    line-height:1px;
    font-size:1px;
    -moz-outline:0 none;
    outline:0 none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: ignore
	display:block;
	overflow:hidden;  
}
.image-slider-horz {
    padding-left:7px;
    background:transparent no-repeat 0 -22px;
}
.image-slider-horz .image-slider-end {
    padding-right:7px;
    zoom:1;
    background:transparent no-repeat right -44px;
}
.image-slider-horz .image-slider-inner {
    background:transparent repeat-x 0 0;
    height:22px;
}
.image-slider-horz .image-slider-thumb {
    width:14px;
    height:15px;
    position:absolute;
    left:0;
    top:3px;
    background:transparent no-repeat 0 0;
}
.image-slider-horz .image-mintrack {
   background:transparent repeat-x 0 0;
   background-image:url(../images/default/slider/slider-bg.png);
   position:absolute;
   left:0;
   height:22px;
}

.image-slider-vert {
    padding-top:7px;
    background:transparent no-repeat -44px 0;
    width:22px;
}
.image-slider-vert .image-slider-end {
    padding-bottom:7px;
    zoom:1;
    background:transparent no-repeat -22px bottom;
}
.image-slider-vert .image-slider-inner {
    background:transparent repeat-y 0 0;
}
.image-slider-vert .image-slider-thumb {
    width:15px;
    height:14px;
    position:absolute;
    left:3px;
    bottom:0;
    background:transparent no-repeat 0 0;
}
.image-slider-vert .image-mintrack {
   background:transparent repeat-y 0 0;
   background-image:url(../images/default/slider/slider-v-bg.png);
   position:absolute;
   bottom:0px;
   width:22px;
}

.image-slider-horz, .image-slider-horz .image-slider-end, .image-slider-horz .image-slider-inner {
    background-image:url(../images/default/slider/slider-bg.png);
}
.image-slider-horz .image-slider-thumb {
    background-image:url(../images/default/slider/slider-thumb.png);
}
.image-slider-vert, .image-slider-vert .image-slider-end, .image-slider-vert .image-slider-inner {
    background-image:url(../images/default/slider/slider-v-bg.png);
}
.image-slider-vert .image-slider-thumb {
    background-image:url(../images/default/slider/slider-v-thumb.png);
}
