<label for="inspect_tcp_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_tcp_label">
<label for="inspect_tcp_ip">IP</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=ip %>" id="inspect_tcp_ip">
<label for="inspect_tcp_port">Port</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=port %>" id="inspect_tcp_port">
<label for="inspect_tcp_command">Command</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=command %>" id="inspect_tcp_command">
<%InspectView.getModel= function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var label = $.trim($("#inspect_tcp_label").val()); %>
<% var ip = $.trim($("#inspect_tcp_ip").val()); %>
<% var port = $.trim($("#inspect_tcp_port").val()); %>
<% var command = $.trim($("#inspect_tcp_command").val()); %>
<% model.label = label;%>
<% model.ip = ip;%>
<% model.port = port;%>
<% model.command = command;%>
<% return model;%>
<% }; %>