<label for="inspect_x10_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_x10_label">
<label for="inspect_x10_address">Address</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=address %>" id="inspect_x10_address">
<label for="inspect_x10_command">Command</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=command %>" id="inspect_x10_command">
<%InspectView.getModel= function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var label = $.trim($("#inspect_x10_label").val()); %>
<% var address = $.trim($("#inspect_x10_address").val()); %>
<% var command = $.trim($("#inspect_x10_command").val()); %>
<% model.label = label;%>
<% model.address = address;%>
<% model.command = command;%>
<% return model;%>
<% }; %>