fieldset input.text {
margin: 12px 0;
width: 95%;
padding: .4em;
text-align: left;
size: 2;
display:block;
}

fieldset input.number {
margin: 10px 5px;
width: 30px;
padding: .4em;
text-align: left;
size: 2;
display:inline;
}
fieldset {
padding: 0;
border: 0;
margin-top: 25px;
}

#error {
	display:none;
}

#error p {
	margin:auto;
	width:300px;
	padding:5px 3px;
	overflow:auto;
}

#wrap {
	margin-left:0;
}
#top {
text-align: center;
padding:5px 0;
background-color:#245E36;
text-align:left;
}
#top a {
	color:#FCD647;
	margin:5px 10px;
}
#top .version {
   color:#FCD647;
   float:right;
   font-size:10px;
   margin-right:10px;
}
#logo {
	padding:3px 2px;
}

#left {
text-align: center;
}

#screen_tool_bar p {
	padding:3px;
	margin:3px;
}
#command_navigation {
margin: 0 auto;
}
#command_navigation  .select_container {
float: left;
width: 250px;
}

.select_container select {
width: 200px;
}

#create_KNX_dialog fieldset {
	width:280px;
}
#create_x10_dialog fieldset {
	width:280px;
}

#macro_name_form fieldset {
	width:280px;
}
#upload_form fieldset {
	width:280px;
}



#iphone_backgroud {
background: #fff url("../image/iphone_background.jpg") no-repeat top left;
width: 269px;
height: 500px;
margin: 0 auto;
position:relative;
}

#screen_select {
	width:150px;
	margin-left:10px;
}

#creatScreenBtnOnPanel:hover {
	background-color:white;
}
a.button {
padding:0.4em 1em 0.4em 20px;
position:relative;
text-decoration:none;
}

a.button_without_icon {
	padding:0.4em;
	position:relative;
	text-decoration:none;	
}
a.button span.ui-icon {
left:0.2em;
margin:-8px 5px 0 0;
position:absolute;
top:50%;
}

#dropable_table td {
border: 1px dashed yellow;
}

#dropable_table_container {
	position:absolute;
	top:105px;
	left:35px;
	height:294px;
	width:196px;
}

#empty_screen_div {
	color:white;
	margin-top:100px;
}
#dropable_table {

border-collapse: collapse;
}

#dropable_table td.hiLight {
background-color: yellow;
}

.item_container {
overflow: visible;
}

#tabs {
	margin-top:10px;
}

#tabs .has_icon {
	font-size:0.8em;
	font-weight:bold;
}

#tabs .item_container {
height: 456px;
}

#tabs ul li.ui-tabs-selected .has_icon {
padding-right: 30px;
}
#tabs ul li .ui-icon {
display: none;
}

#tabs ul li.ui-tabs-selected .has_icon {
padding-right: 30px;
}
#tabs ul li.ui-tabs-selected .ui-icon {
margin-top: -9px;
position: absolute;
right: 5px;
top: 50%;
display: inline;
cursor: pointer;
}
#right {
}

.item_title p {
	margin:6px 0;
	text-align:center;
}
#inspect_tool_bar {
	position:absolute;
	display:none;
	background:white;
}

#inspect_tool_bar p {
	text-align:center;
	margin:4px 18px;
}

#inspect_header {
	position:relative;
	cursor:move;
}
#close_inspect_btn {
	height:18px;
	margin:-10px 0 0;
	padding:1px;
	position:absolute;
	right:0.3em;
	top:50%;
	width:19px;
}

#inspect_header p {
	margin:6px 0;
}
#inspect_detail {
	padding-bottom:3px;
}
#inspect_detail #inspect_change_icon {
	top:-20px;
}

#inspect_detail fieldset {
	border:1px solid grey;
	margin:auto;
	width:160px;
}

#inspect_detail fieldset legend {
	font-weight:bold;
	margin-left:17px;
	margin-top:5px;
}
#inspect_detail label {
    display:block;
    margin:5px 0;
    margin-left:2px;
    text-align:left;
    font-weight:bold;
}

#inspect_detail #inspect_iphoneBtn_icon {
	width:46px;
	height:46px;
}
#inspect_button {
	padding:5px;
	border-top:none;
	display:none;
}


#inspect_body input.text {
	padding:5px 6px;
}

#change_icon_from_beehive {
	overflow:auto;
}
#change_icon_from_beehive img{
    margin:2px;
    border:1px solid white;
}
.change_icon_from_container ,.hidden{
	display:none;
}

#macro {
background-color: #fff;
margin-top:10px;
}


#macro #create_macro_btn {
position: absolute;
right: 10px;
top: 5px;
}


#macro  .item_title {
position: relative;
}

#macro.macro_btn_defination {
margin-bottom: 1em;
}


ul.macro_detail {
border:1px solid #CCCCCC;
list-style-type: none;
margin: 0;
padding: 0;
min-height: 50px;
height: auto!important;
height: 50px;
}

.macro_btn_defination {
width: 158px;
}


ul.macro_detail li {
font-size: 1.2em;
height: 18px;
padding: 0.1em 0.4em 0.1em 1.5em;
}
ul.macro_detail li span {
margin-left: -1.3em;
position: absolute;
}

#macro ul.ui-state-highlight {
border: 1px solid grey;

}


#macro .item_container {
border: 1px solid #AAAAAA;
min-height:494px;
height: auto!important;
height: 494px;
_height: 494px;
border-top: none;
padding: 1em 1em 0 1em;
}

li.macro_command {
cursor: move;
}


#create_KNX_dialog {
height: 1%;
}

.blue_btn.command_btn {
float: left;
}
.blue_btn.knx_btn {
float: left;
}
.blue_btn.x10_btn {
float: left;
}
.blue_btn {
background: #fff url("../image/button.jpg") no-repeat top left;
height: 19px;
width: 156px;
margin: 0.1em;
text-align: center;
cursor: move;
font-size: 12px;
font-weight: bold;
}

#command_tab {
padding: 1em;
}
.iphone_btn {
width: 49px;
height: 49px;
font-size: 11px;
color: white;
font-weight: bolder;
text-align: center;
position: absolute;
cursor: move;

}

.macro_detail .highlightInspected {
border:1px solid orange;
opacity:0.9;
}

.highlightInspected {
border:1px solid orange;
opacity:0.9;
}

.canMove {
cursor: move;
}

.iphone_btn table {
	border-collapse:collapse;
    color:#FFFFFF;
    border:0px;
    width:100%;
    height:100%;
}


table.iPhone_btn_cont{
    border-collapse:collapse;
    background-color: #357ddb;
    color:#FFFFFF;
    border:0px;
    width:100%;
    height:100%;
}

table.iPhone_btn_cont tr.iphone_top {
	height:3px;
}
.iphone_btn table .middle img {
	height:43px;
	width:43px;
}

table.iPhone_btn_cont td.tl_c{
    width:3px;
    background: url(../image/iphone_btn_sprite.png) no-repeat 0 0;
}

table.iPhone_btn_cont td.top{
    background: url(../image/iphone_btn_sprite.png) repeat-x 0 -6px;
}
table.iPhone_btn_cont td.tr_c{
    width:3px;
    background: url(../image/iphone_btn_sprite.png) no-repeat  0 -11px;
}
table.iPhone_btn_cont td.middle{
    text-align: center;
    font-size: 11px;
	height:98%;
}


table.iPhone_btn_cont td.ml{
    width:3px;
    background: url(../image/iphone_btn_vertical.png) repeat-y 0 0;
}
table.iPhone_btn_cont td.mr{
    width:3px;
    background: url(../image/iphone_btn_vertical.png) repeat-y -4px 0;
}
table.iPhone_btn_cont tr.iphone_bottom {
	height:3px;
}


table.iPhone_btn_cont td.bottom{
    background: url(../image/iphone_btn_sprite.png) repeat-x 0 -21px;
}
table.iPhone_btn_cont td.bl_c{
    width:3px;
    background: url(../image/iphone_btn_sprite.png) no-repeat  0 -16px;
}
table.iPhone_btn_cont td.br_c{
    width:3px;
    background: url(../image/iphone_btn_sprite.png) no-repeat 0 -26px;
}
