<label for="inspect_macroSub_label">Label</label><input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_macroSub_label">
<label for="inspect_macroSub_delay">Delay after(second)</label><input type="text" class="text ui-widget-content ui-corner-all"  value="<%=delay %>" id="inspect_macroSub_delay">
<label>Type :</label><%= oModel.className %>
<label>Oraginal Label:</label><%= oModel.label %>
<%InspectView.getModel= function() { %>
<% var model = $("#inspect_tool_bar").data("model"); %>
<% var label = $.trim($("#inspect_macroSub_label").val()); %>
<% var delay = $.trim($("#inspect_macroSub_delay").val()); %>
<% model.label = label;%>
<% model.delay = delay;%>
<% return model;%>
<% }; %>