<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-autowire="byName">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:config.properties</value>
		</property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		parent="baseSessionFactory">
		<property name="annotatedClasses">
			<list>
				<value>org.openremote.modeller.domain.Activity
				</value>
				<value>org.openremote.modeller.domain.Screen
				</value>
			</list>
		</property>
		<property name="mappingResources">
			<value>customSQL.hbm.xml</value>
		</property>
	</bean>

	<bean id="myService" class="org.openremote.modeller.server.MyServiceImpl" />
	
	<bean id="myServiceManager" class="org.openremote.modeller.service.MyServiceManager" />
	

	<bean id="genericDAO" class="org.openremote.modeller.dao.GenericDAO"></bean>




	<bean id="proxyStore" class="net.sf.gilead.core.store.stateless.StatelessProxyStore" />

	<bean id="hibernateUtil" class="net.sf.gilead.core.hibernate.HibernateUtil">

		<property name="sessionFactory" ref="sessionFactory" />

	</bean>

	<bean id="beanManager" class="net.sf.gilead.core.PersistentBeanManager">

		<property name="proxyStore" ref="proxyStore" />

		<property name="persistenceUtil" ref="hibernateUtil" />

	</bean>

</beans>
