<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="urlMapping"
          class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="lirc.htm">modelController</prop>
                <prop key="remoteSection.htm">remoteSectionController</prop>
                <prop key="index.htm">beehiveDatabaseController</prop>
            </props>
        </property>
    </bean>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:config.properties</value>
        </property>
    </bean>
    
    <!--

    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>

            </props>
        </property>
        <property name="defaultErrorView" value="exception/defaultErrorPage"/>
    </bean>

    -->

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass">
            <value>
                org.springframework.web.servlet.view.InternalResourceView
            </value>
        </property>
        <property name="prefix">
            <value>/WEB-INF/page/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

    <bean id="methodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
        <property name="paramName" value="method"/>
        <property name="defaultMethodName" value="index"/>
    </bean>

    <bean id="modelController" class="org.openremote.beehive.controller.ModelController">
	</bean>
	
	<bean id="remoteSectionController" class="org.openremote.beehive.controller.RemoteSectionController">
	</bean>
    
    <bean id="beehiveDatabaseController" class="org.openremote.beehive.controller.BeehiveDatabaseController">
        <property name="index" value="beehiveDatabase"/>
        <property name="cmpSelectContainer" value="cmpSelectContainer"/>
        <property name="cmpLircDetails" value="cmpLircDetails"/>
    </bean>

</beans>
