<label for="inspect_iphoneBtn_label">Label</label>
<input type="text" class="text ui-widget-content ui-corner-all"  value="<%=label %>" id="inspect_iphoneBtn_label">
<fieldset>
<legend>Icon</legend>
<% var _icon = (icon==""?constant.DEFAULT_IPHONE_BTN_ICON:icon) %>
<a><img id="inspect_iphoneBtn_icon" src="<%=_icon %>" title="Change icon" onclick="javascript:void(0);return false;"></a>
</fieldset>